.mainContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.homePageContent {
  background: lightgray;
  position: absolute;
  z-index: 10;
  top: 0rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.radioDiv {
  width: 100%;
  position: absolute;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
}
