.listViewDiv {
  position: absolute;
  top: 8rem;
  background: lightgray;
  width: 100%;
  height: calc(100vh - 12.5rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  overflow-y: auto;
  padding: 1rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 10rem);
}
