.galleryContainer {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0 1rem;
}

.imageDiv {
  display: flex;
  gap: 0.5rem;
  margin-right: 0.5rem;
  align-items: flex-start;
}

.largeImageDiv {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.smallImageDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.largeImage {
  width: 200px;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.smallImage {
  width: 100px;
  height: 50%;
  object-fit: cover;
  border-radius: 0.5rem;
}
