/* MapView.module.css */
.mapViewWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.mapViewContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mapViewContainerList {
  position: relative;
  width: 100%;
  height: calc(100% - 4rem);
  padding-top: 4rem;
}

.full {
  height: calc(100vh - 10rem);
}

.small {
  height: 30vh;
}
